@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&family=Source+Sans+3:ital,wght@0,400;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  BARRA DE NAVEGACION 1RA */

nav a {
    font-size: 20px;
    padding-right: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

nav a:hover {
    color: #bbbbbb;
    font-size: 25px;

}

.nav_link {
    color: aliceblue;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 5px;
    background: rgb(0, 0, 0);
}


h1 {
    color: aliceblue;
    padding: 15px;
    padding-bottom: 5px;
    font-family: 'Kanit', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.busqueda {
    padding: 100px;
}

.head_inputtext {
    padding: 2px;
}

.head_inputboton {
    padding: 2px;
}

.cuenta {
    padding: 20px;
}

.cuenta a {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    padding: 10px;
}

.cuenta a:hover {
    text-decoration: underline;
}

/*  BARRA DE NAVEGACION 2DA */

.bar_nav {
    font-family: 'Fjalla One', sans-serif;
    color: aliceblue;
    display: flex;
    height: 50px;
    padding: 6px;
    background: rgb(0, 0, 0);
    border-top: #ffffff solid;
    border-left: 5px;
    border-color: #bbbbbb;
    align-items: start;
    justify-content: space-around;
}

/*  IMAGEN DE MUESTRA ANTIGUO */

/* .img_principal {
    background-image: url("../img/muestra.webp");
    background-repeat: no-repeat;
    height: 83vh;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 350px;
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.75);
}

.img_principal h2 {
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 40px;
}

.img_principal p {
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
}

.img_boton {
    padding: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 50px;
    border-style: none;
    background-color: #000000;
}

.botonropa a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botonropa a:hover {
    color: #bbbbbb;
} */

/*  TARJETAS  */

.tarjetas_pra {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta_envio {
    padding: 14px;
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.info_tarjeta {
    color: black;
    padding: 15px;
    font-family: 'Source Sans 3', sans-serif;
}

.img_envio {
    max-width: 70px;
}

/*  TARJETAS PRODUCTOS  */

.tarjetas {
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.tarjetita {
    background-color: #000000;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    -webkit-box-shadow: 2px 1px 36px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 1px 36px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 1px 36px 1px rgba(0, 0, 0, 0.75);
}

.tarjetita__boton {
    padding: 5px;
    border-radius: 5px;
}

.informacion {
    color: white;
    padding: 0 20px 15px 30px;
    font-family: 'Source Sans 3', sans-serif;

}

.tarjetita__imagen {
    max-width: 100%;
}

.tarjetas ul {
    color: white;
    list-style-type: none;
}

.tarjetas a {
    text-decoration: none;
    color: #000000;
}

.destacados h2 {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}

.destacados li {
    padding: 10px;
    font-size: 30;
    font-family: 'Source Sans 3', sans-serif;
}

.destacados_fix {
    display: inline-block;
    text-align: left;
}

.destacados li:hover {
    font-size: 20px;
    text-decoration: underline;
}

.destacados_prin {
    display: inline-block;
    padding: 5px;
}

/*  FOOTER  */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000000;
    color: white;
    padding-block: 30px;
    font-family: 'Kanit', sans-serif;
    box-shadow: -2px -3px 5px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px -3px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -3px 5px 2px rgba(0, 0, 0, 0.75);
}

/*  IMAGENES DE TARJETAS  */

.paymetod {
    display: grid;
}

.card-img {
    width: auto;
    height: 25px;
    border: 1px solid #00000012;
}

.pagos {
    display: grid;
    grid-template-columns: 38px 38px 38px;
    grid-template-rows: 30px 30px 30px;
    padding: 10px;
}

/*  REDES  */

.redes {
    padding: 10px;
}

.redes ul {
    color: white;
}

.redes a {
    text-decoration: none;
    color: white;
}

.redes a:hover {
    text-decoration: underline;
}

.navegacion {
    padding: 10px;
    text-align: left;
    display: inline-block;
}

.navegacion ul {
    color: white;
    list-style: none;
    text-align: left;
}

.navegacion a {
    text-decoration: none;
    color: white;
}

.navegacion a:hover {
    text-decoration: underline;
}


.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/*  MODIFICACIONES MINIMAS AL PREGUNTAS FRECUENTES DE BOOTSTRAP  */

.pyr {
    padding: 20px;
    margin: 20px;
}

/*  MODIFICACIONES MINIMAS AL CARRUSEL DE BOOTSTRAP  */

.carousel-caption h5 {
    color: white;
}

.carousel-caption p {
    color: white;
}

.carousel-inner {
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.75);
}

.page-item a {
    color: black;
}

/* RESPONSIVE DESING */

@media screen and (max-width: 1115px) {
    header {
        flex-direction: column;
        height: 165px;
        padding: 5px;
    }

    .logo img {
        height: 40px;
    }

    .busqueda {
        padding: 2px;
    }

    .bar_nav {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 300px;
        padding: 6px;
    }

    .carousel-item img {
        height: 300px;
    }

    .carousel-caption {
        height: 115px;
    }

    .carousel-caption h5 {
        font-size: 15px;
        padding-top: 50px;
        color: white;
    }

    .carousel-caption p {
        font-size: 10px;
        color: white;
    }

    .carousel-indicators {
        height: 5px;
    }

    .tarjetas_pra {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .tarjeta_envio {
        padding: 5px;
        padding-top: 20px;
        gap: 1px;
    }

    .info_tarjeta {
        color: black;
        padding: 10px;
        font-size: 15px;
        font-family: 'Source Sans 3', sans-serif;
    }

    .img_envio {
        max-width: 40px;
    }

    .peso {
        margin-left: 40px;
    }

    .ropat {
        margin-left: 20px;
    }

    .tarjetas {
        padding: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_nav {
        padding-top: 10px;
    }

    .paymetod {
        padding-bottom: 15px;
    }

    .destacados_prin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}